.cupons-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 10px;
}

.cupon {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-width: 200px;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.cupon:after {
  content: '';
  position: absolute;
  top: -10px;
  right: -4px;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-right: 10px solid transparent; /* Modificación: Ajustamos el valor de la mitad de 20px */
  border-bottom: 20px solid white;
}

.cupon-name {
  font-weight: bold;
}

.cupon-discount {
  margin-top: 5px;
}