.Top-part{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.cupons-carousel {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.cupons-container {
  display: inline-block;

}

.cupon {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  height: 125px;
  width: 220px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../../../assets/img/EA11096C-990F-439E-9555-87EFA801831F.jpeg);
  background-size: cover;
}

.cupon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.cupon-name {
  font-weight: bold;

}

.cupon-discount {
  margin-top: 5px;
}