@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color-primary: #FFFFFF;
    --color-secondary: #ff2f5e;
    --color-terciary: #fe7304;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}